# Ignore everything by default.
*

# Keep the ignore rules themselves.
!/.gitignore
!check_submission.py

# Keep notebooks at the repository root.
!/*.ipynb

# Keep notebook assets.
!/assets/
!/assets/**

!/submission/
!/submission/**
!/Filled/
!/Filled/**
